<div id="templateChronological" data-ng-controller="htmlController">
	 <p>{{CandidatePerson.PreferredSalutationCode}} 
	    {{CandidatePerson.GivenName}} 
	    {{middleName}} 
	    {{CandidatePerson.FamilyName}}<br/>
	    {{streetAddress}}<br/>
	    {{city}}, {{state}}, {{zip}}<br/>
	    e: {{email}}<br/>
	    w: {{myLinks}}<br/>
	 </p>

	 <p>Objective: {{objectiveTitle}} {{objectiveDescription}}</p>

	 <p>Summary of Qualifications</p>
     <p>{{summaryQualifications}}</p>

     <p>Relevant Experience and Qualifications</p>
 	 <p>{{startDate}}-{{endDate}}  {{jobTitle}} {{organizationName}}<br/>
 	 	{{jobDescription}}
 	 </p>
 	 <p>Education and Training</p>
 	 <p>{{degree}}{{certification}}{{completionDateEdu}}</p>
</div><!-- /data-ng-controller="htmlController" -->